.footercont{
    line-break: loose;
    height:40vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    
}

.foot-icon{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 40%;
    padding-left: 10vh;
    padding-top: 4vh;
    justify-content: space-between;
}
.footercont-mobile{
    line-break: loose;
    height:40vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.foot-1{
    height:40vh;
    width:21%;
    margin-top: 4vh;
    align-items: center;
    align-content: center;
    align-self: flex-start;
}
h3{
    font-size:large;
    opacity: 0.6;
    
}
h4{
    font-size:large;
    margin-left: 9vh;
    opacity: 0.6;
}
.foot-2{
    height:40vh;
    width:16%; 
    align-items: center;
    align-content: center;
    align-self: flex-start;
}
.foot-3{
    height:40vh;
    width:16%; 
    align-content: center;
    align-self: flex-start;
}
.foot-4{
    height:40vh;
    width:16%; 
    align-content: center;
    align-self: flex-start;
}
.foot-5{
    height:40vh;
    width:21%;  
    justify-content: start;
}
.foot-input{
    height:25px;
    width:250px;
    border-radius: 5px;
    margin-top: 2vh;
    border: none;
}
.foot-btn{
    height:5vh;
    width: 50%;
    border: none;
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}
